/*.bz2
/*.gz
/*.sig
*.inc.[CH]
*.msgs.H
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
/config.guess
config.log
config.rpath
config.status
config.sub
configure
/ABOUT-NLS
/compile
/cxxw
/cxxwoptions.H
/cxxwtheme
/cxxwtheme.1
/depcomp
.dirstamp
/docbook/entities
/Doxyfile
/genconstants
/html
/install-sh
*.la
/libcxxw_config.h
/libcxxw_config.h.in
/libcxxw_doctags
libtool
ltmain.sh
man.stamp
missing
/rpm
stamp-h1
suppressfile*
/testbook
/testbusy
/testbutton
/testcollapse
/testcolorpicker
/testcombobox
/testcustomcanvas
/testdateinput
/testderivedaxis
/testfiledircontents
/testfocusable
/testgrid
/testimagebuttons
/testinputfield
/testlabel
/testlist
/testmenu
/testpane
/testping
/testlistoptions.H
/testprogressbar
/testwordwrappablelabel
/testmainwindow
/testmainwindowoptions.H
/testpage
/testrichtext
/testrichtextstring
/testrichtextiterator
/testscrollbar
/testscrollbar_metrics
/testshowhide
/testtextparam
/testtooltip
/testtooltip.H
/testunfocus
/m4
/xml
