/*.bz2
/*.gz
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
/config.guess
config.log
config.rpath
config.status
config.sub
configure
/ABOUT-NLS
/compile
/connection_thread.msgs.H
/cxxw
/cxxwoptions.H
/depcomp
.dirstamp
/docbook/entities
/Doxyfile
/gc_constants.inc.C
/genconstants
/html
/install-sh
*.la
/libcxxw_config.h
/libcxxw_config.h.in
/libcxxw_doctags
libtool
ltmain.sh
missing
/pic_constants.inc.C
/rpm
stamp-h1
suppressfile*
/testactionbutton
/testcollapse
/testderivedaxis
/testfocusable
/testgrid
/testlabel
/testwordwrappablelabel
/testmainwindow
/testmainwindowoptions.H
/testrichtext
/testrichtextstring
/testtextparam
/m4
/xml
