/*.bz2
/*.gz
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
/config.guess
config.log
config.rpath
config.status
config.sub
configure
/ABOUT-NLS
/compile
/connection_thread.msgs.H
/cxxw
/cxxwoptions.H
/depcomp
/docbook/entities
/Doxyfile
/genconstants
/html
/install-sh
*.la
/libcxxw_config.h
/libcxxw_config.h.in
/libcxxw_doctags
libtool
ltmain.sh
missing
/pic_constants.inc.C
/stamp-h1
/testderivedaxis
/testgrid
/testmainwindow
/testmainwindowoptions.H
/m4
/xml
